<div class="container-fluid">
	<h1>Editing Alumnus</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @alumnu, class: "btn btn-link" %> 
	<%= link_to 'Back', alumnus_path, class: "btn btn-link" %>
	<br>
	<br>
	<br>
</div>
